body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.home {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #e3e2df;
  background-size: cover;
}

.navbar {
  background-color: #0b0c10;
  height: 70px;
  display: flex;
  gap: 33rem;
  align-items: center;
}

.menu-bars {
  margin-top: 0.7rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  color:#66fcf1 ;
  background: none;
  transition: 0.5s ease-in;
}

.nav-menu {
  background-color: #0b0c10;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content:center;
  position: fixed;
  top: 0;
   left: -100%; 
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: #e3e2df;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover{
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

.nav-menu-items{
  width: 100%;
}

.navbar-toggle{
  background-color: #0b0c10;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span{
  margin-left: 10px;
}


.searchInputs{
  display: flex;
  flex-direction: row;
  background-color: white; 
  padding: 3px;
  border-radius: 30px;
} 

.textbox{
  padding: 5px;
  border: none;
  border-radius: 30px;
}

.searchIcon{
  font-size: 2rem;
  margin-top: 1px;
  padding-top: 2px;
}

.rightpart{
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.cart-icon{
  font-size: 2rem;
  color: #66fcf1;
  padding-top: 5px;
}
.heart-icon{
  font-size: 1.5rem;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #66fcf1;
}

.heart-icon-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.wishlist-heading{
 font-size: 12px;
 padding: 0;
 margin: 0;
 color: #e3e2df;
}

.cart-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2px;
}

.cart-heading{
 font-size: 12px;
 padding: 0;
 margin: 0;
 color: #e3e2df;
 padding-bottom: 3px;
 padding-left: 3.2px;
}

.cart-icon{
font-size: 1.6rem;
padding-bottom: 5px;
}

.avatar-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.avatar-icon{
  font-size: 1.6rem;
  color: #66fcf1;
  background-color: none;
  padding-bottom: 5px;
  padding-left: 5px;
}

.avatar-heading{
font-size: 12px;
 padding: 0;
 margin: 0;
 color: #e3e2df;
 padding-bottom: 3px;
}

.cart-icon:hover{
  cursor: pointer;
}

.avatar-icon:hover{
  cursor: pointer;
}

.heart-icon:hover{
  cursor: pointer;
}

.avatar-icon-container :hover{
  text-decoration: underline solid 2px #66fcf1;
}

.car-menu{
  text-align: center;
}

.topbar{
  display: flex;
  justify-content: space-between;
  gap: 40rem ;
}

.carousel-desc-heading{
  position: absolute;
  color: black;
  bottom: 0.1;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.car-desc-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-desc{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 10px;
  text-align: center;
}

.shop-now-car-button{
  position: relative;
    margin: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    bottom: 0.1;
    left: 0;
    right: 0;
    top:0.1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.footer-container{
  background-color: #e3afbc;
  height: 400px;
  width: 100vw;
}